body {
  margin: 0.5rem 20rem;
}

#background {
  width: 100%;
  object-fit: fill;
}

.navbar {
  background-color: #609966;
  overflow: hidden;
  /* display: flex;
  flex-direction: row; */
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

.navbar a:hover {
  background-color: #9dc08b;
}

.navbar a.active {
  background-color: #9dc08b;
}

.navbar-right {
  float: right;
}

.container {
  position: relative;
  text-align: left;
}

#motto {
  position: absolute;
  top: 3rem;
  left: 2rem;
  background-color: rgba(96, 153, 102, 0.8);
  border-radius: 8px;
  color: white;
}
